<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeptMapper">

	<select id="findAll" resultType="DeptDTO" parameterType="hashmap">
		select deptno, dname, loc
		from dept
		<if test="searchName=='deptno' and searchValue!=null">
			where deptno=#{searchValue}
		</if>
		<if test="searchName=='dname' and searchValue!=null">
			where dname like '%'||#{searchValue}||'%'
		</if>
		<if test="searchName=='loc' and searchValue!=null">
			where loc like '%'||#{searchValue}||'%'
		</if>
		order by deptno
	</select>
	
	<insert id="deptAdd" parameterType="DeptDTO">
		insert into dept (deptno, dname, loc)
		values (#{deptno}, #{dname}, #{loc})
	</insert>
	
	<update id="deptUpdate" parameterType="DeptDTO">
		update dept
		set dname=#{dname}, loc=#{loc}
		where deptno=#{deptno}
	</update>
  
	<delete id="deptDelete" parameterType="int">
		delete from dept
		where deptno=#{deptno}
	</delete>
	
	<select id="deptRetrieve" resultType="DeptDTO" parameterType="int">
		select deptno, dname, loc
		from dept
		where deptno=#{deptno}
	</select>
	
</mapper>