<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
      <servlet-name>StudentListServlet</servlet-name> <!-- 서블릿명 -->
      <servlet-class>com.servlet.StudentListServlet</servlet-class> <!-- 패키지명을 포함한 서블릿명 -->
	</servlet>
	<servlet-mapping>
      <servlet-name>StudentListServlet</servlet-name> <!-- 서블릿명 -->
      <url-pattern>/studentlist</url-pattern> <!-- /서블릿맵핑명 -->
	</servlet-mapping>
</web-app>